body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("workspace-1280538.jpg");
    background-repeat: repeat;
    background-size: cover;
    color:#fff;
}
h1{
    font-size: 40px;
    text-align: center;
}
p{
    font-size: 25px;
    text-align: center;

}
.main{
    margin-top: 10%;
    margin-left: 52%;
    font-family: 'Poppins', sans-serif;

  
}